<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@3.2.5/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>EZapp 0.3</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar
          color="green"
          scroll-behavior="hide"
          scroll-threshold="120"
          app
        >
          <v-toolbar-title>{{ compayName }}</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-app-bar>

        <v-main>
          <v-container fluid>
            <v-row>
              <v-col cols="12">
                <v-sheet
                  rounded
                  color="#608634"
                  width="100%"
                  class="pt-3"
                  gradient=""
                >
                  <v-img
                    width="100%"
                    src="https://res.cloudinary.com/ddkef5waq/image/upload/v1684482332/enzapp/hero_kmw5p3.jpg"
                  >
                  </v-img>
                  <v-col class="px-6 crete-round">
                    <h2 class="text-h5 mb-3 crete-round">Twój Katalog</h2>
                    <p class="mb-5">najlepsze nasiona na wyciągnięcie ręki</p>
                    <v-btn class="mb-3" block color="#FEFB08" dark
                      >Eksploruj</v-btn
                    >
                  </v-col>
                </v-sheet>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-file-input
                  hide-input
                  variant="underlined"
                  label="Pobierze stock"
                  truncate-length="15"
                  type="file"
                  @change="readJsonFile"
                  @click:clear="clearFiled"
                  id="file"
                  accept=".xls,.xlsx"
                ></v-file-input>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                  <div
                    v-for="(item, index) in katalog"
                    :key="index"
                    class="py-4"
                  >
                    <vareity-card
                      v-if="item"
                      :item="item"
                      :stock="stock"
                    ></vareity-card>
                  </div>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
        <v-bottom-navigation color="teal" grow app class="d-flex d-sm-none">
          <v-btn>
            <span>Recents</span>

            <v-icon>mdi-history</v-icon>
          </v-btn>

          <v-btn>
            <span>Favorites</span>

            <v-icon>mdi-heart</v-icon>
          </v-btn>

          <v-btn>
            <span>Nearby</span>

            <v-icon>mdi-map-marker</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </v-app>
    </div>
  </body>

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->

  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
        "vuetify": "https://cdn.jsdelivr.net/npm/vuetify@3.2.5/dist/vuetify.esm.js"
      }
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
  <script src="main.js" type="module"></script>
  <style>
    .crete-round {
      font-family: "Crete Round", sans-serif !important;
    }
  </style>
</html>
